/* it is used for removing all margin  */
*{
    margin: 0;
}

/* it is used for giving heading anchor tags  */
.anchor{
    padding: .5rem;
    justify-content: right;
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

/* it is used for giving search bar, cart, anchor name in a single line  */
.options{
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 1rem;
    
}

/* it is used for arrangement of search bar  */
.search-bar{
    width: 25rem;
    height: 1.5rem;
    border-radius: 5%;
}

/* it is used for arrangement of header elements */
header{
    background-color: gold;
    height: 5.5rem;
}

/* it is used for giving name as anchor tag */
.logo{
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: larger;
}

/* it is used for removing all underline from anchor tags  */
a{
    text-decoration: none;
}

.heading-product{
    text-align: center;
}

.brand-heading{
    padding-left: .5rem;
}

/* it is used for single item attribute controlling  */
.item{
    border: .2rem dotted;
    width: 240px;
    height: 200px;
    margin: .5rem;
    text-align: center;
}

.all-phone{
    overflow-x: scroll;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

/* it is used for giving image height and width  */
.image{
    width: 240px;
    height: 150px;
}

.item-name{
    text-align: center;
}

footer{
    display: flex;
    gap: .5rem;
    text-align: center;
    background-color: #1c211e;
}
/* it is used footer class div  */
.footer-class{
    width: 20rem;
    color: white;
    border: .2rem dotted white;
}
/* it is used for footer section anchor tags  */
.footer-anchor{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.social-media{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* it is used for various display adjust  */
@media only screen and (max-width:768px){
    header{
        background-color: gold;
        height: 8rem;
    }
    /* it is used for single item attribute controlling  */
    .item{
        border: .2rem dotted;
        width: 200px;
        height: 160px;
        margin: .5rem;
    }

    /* it is used for giving image height and width  */
    .image{
        width: 200px;
        height: 110px;
    }
}

/* it is used for various display adjust  */
@media only screen and (max-width:600px){
    header{
        background-color: gold;
        height: 8rem;
    }
    a{
        font-size: 13px;
    }
    /* it is used for single item attribute controlling  */
    .item{
        border: .2rem dotted;
        width: 200px;
        height: 150px;
        margin: .5rem;
    }

    /* it is used for giving image height and width  */
    .image{
        width: 200px;
        height: 110px;
    }
}